@use '../var';

.app {
  background: #252933;
  text-align: center;
  color: var.$col-text;
  box-shadow: -1rem 0 3rem #000;

  h2 {
    padding: 1rem;
    font-size: 2rem;
  }

  p {
    max-width: 800px;
    margin: 0 auto;
  }
}

.app__store {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1300px;
  padding: 1.5rem 0;

  img {
    display: block;
    width: 20%;
    min-width: 10rem;
  }
}

@media screen and (max-width: 600px) {
  .app {
    p {
      display: none;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .app {
    h2 {
      font-size: 1rem;
    }
  }

  .app__store {
    img {
      min-width: 8rem;
    }
  }
}
