@use '../var';

.circle {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;

  .button:active {
    transform: translateY(4px);
    border-bottom: none;
  }

  .card {
    height: 300px;
    width: 100%;
    box-shadow: -1rem 0 3rem #000;
    grid-template-columns: 35% 50% 15%;
    margin-bottom: 2rem;

    .card__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem 0 0 1rem;
    }

    .card__block {
      display: block;
      padding: 0 2rem;
      border-right: var.$col_bg solid 3px;

      h2 {
        text-align: center;
        // padding-top: 1rem;
      }

      .card__block-text {
        padding: 1rem 0 2rem;
      }

      a {
        color: var.$col-icon;
        font-size: 1.1rem;
        font-weight: 600;
        text-decoration: var.$col-icon 2px underline;
      }

      p:nth-child(2) {
        padding: 1rem 0;
      }
      p:nth-child(3),
      :nth-child(6) {
        display: inline-block;
        padding: 0.5rem 0;
      }

      :nth-child(2) {
        display: flex;
        justify-content: space-between;

        :nth-child(2) {
          background: var.$col-logo;
          color: var.$col-dark;
          border-bottom: solid 4px var.$col-icon;
        }

        .button:active {
          transform: translateY(4px);
          border-bottom: none;
        }
      }

      .button {
        color: #fff;
        text-decoration: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 48%;
        font-size: 1rem;
      }
    }

    .block_actions {
      // display: flex;
      // flex-direction: column;
      // justify-content: space-evenly;
      display: grid;

      padding: 1rem;
      text-align: center;
      font-size: 0.8rem;

      :nth-child(1),
      :nth-child(2),
      :nth-child(3) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
          height: 3rem;
        }
      }

    }
  }
}

.circle__choice {
  padding: 3rem 1rem 0;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;

  .button {
    background: #46567a;
    border-bottom: solid 4px #627295;
    margin: 0 1rem;
  }

  .button:active {
    transform: translateY(4px);
    border-bottom: none;
  }

  // :nth-child(2) {
  //   margin: 1rem;
  // }

  .choice-active {
    background: var.$col-logo;
    border-bottom: solid 4px var.$col-text;
    color: var.$col-dark;
    font-weight: 600;
    box-shadow: -1rem 0 3rem #000;
  }

  :nth-child(1):hover,
  :nth-child(2):hover,
  :nth-child(3):hover {
    box-shadow: -1rem 0 3rem #000;
  }
}

.circle__choiceme {
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 2rem;
  font-size: 2rem;
  color: var.$col-text;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 930px) {
  .circle {
    .card {
      grid-template-columns: 80% 20%;
      grid-template-rows: 50% 50%;
      height: 550px;

      .card__img {
        grid-area: 1 / 1 / 2 / 3;
        border-radius: 1rem;
      }
    }
  }

  .circle__choiceme {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .circle__choice {
    display: grid;
    grid-template-columns: 1fr 1fr;

    :nth-child(1) {
      grid-area: 1 / 1 / 2 / 3;
    }

    :nth-child(1),
    :nth-child(1) {
      margin: 0 1rem;
    }

    .button {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }

  .circle {
    padding-top: 1rem;
    .card {
      grid-template-columns: 1fr;
      grid-template-rows: 30% 50% 20%;
      height: 550px;

      .card__img {
        grid-area: 1 / 1 / 1 / 1;
        border-radius: 1rem;
      }

      .card__block {
        border-right: 0;
        // border-bottom: var.$col_bg solid 3px;
        width: 100%;
        font-size: 0.9rem;
        padding-bottom: 1rem;
        height: 15rem;

        .button {
          font-size: 0.8rem;
        }

        .card__block-text {
          padding: 1rem 0 1rem;
        }
      }

      .block_actions {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        width: 100%;
        border-top: var.$col_bg solid 3px;

        img {
          width: 30%;
        }

        :nth-child(1),
        :nth-child(2) {
          width: 50%;
        }
      }
    }
  }

  .circle__choiceme {
    font-size: 1rem;
  }
}

@media screen and (max-width: 415px) {
  .circle {
    .card {
      height: 500px;
      .card__block {
        font-size: 0.8rem;
        a {
          font-size: 0.9rem;
        }

        .button {
          font-size: 0.7rem;
        }
      }

      .block_actions {
        font-size: 0.6rem;
      }
    }
  }
}
