@use '../var';

.company__search {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 1.5rem;

  .search_country {
    background: none;
    height: 3rem;
    border: 2px solid #ffffff;
    width: 20%;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 0.5rem;

    option {
      color: #000;
    }
  }

  .search__city {
    position: relative;
    width: 70%;
    border: 2px solid #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search__city_placeholder {
    color: rgba(255, 255, 255, 0.452);
    padding-left: 0.5rem;
  }

  .search__city_select {
    position: absolute;
    right: 0;
    height: 100%;
    border-radius: 5px;
    margin: auto;
  }

  .search__city_block {
    display: flex;
    flex-wrap: wrap;
  }
}

.company__search-searh {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  position: relative;

  input {
    height: 2.5rem;
    width: 100%;
    padding-left: 1rem;
    border-radius: 8px;
  }

  img {
    position: absolute;
    right: 2rem;
    top: 0;
    height: 100%;
    padding: 10px;
  }
}

.company {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // column-gap: 1.5rem;
  // row-gap: 1.5rem;
  // padding: 0 1.5rem 3rem;
  max-width: 1300px;
  margin: 0 auto;

  .card {
    margin: 1.5rem;
  }

  .card__img {
    border-radius: 1rem 1rem 0 0;
  }

  .glass {
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    // height: 70%;
    // padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 0.8rem;
    padding: 0.5rem 0;

    div:nth-child(1) {
      border-right: 1px var.$col_bg solid;
    }

    div:nth-child(1),
    :nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      text-align: center;
    }

    a {
      display: grid;
      place-items: center;
      justify-content: space-between;
    }

    span {
      font-size: 0.8rem;
      font-weight: normal;
    }

    // :nth-child(1)::after {
    //   content: "Добавить в мой круг";
    // }

    // :nth-child(2)::after {
    //   content: "Удалить из моего круга";
    // }

    img {
      width: 40%;
    }
  }

  label {
    padding-left: 1rem;
  }

  .progress__bar {
    position: relative;
    border-radius: 0;

    p {
      position: absolute;
      top: 0;
      right: 0.5rem;
      color: var.$col-text;
      font-size: 0.9rem;
    }

    span {
      border-radius: 0;
    }
  }

  .card__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;

    a {
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
      color: var.$col-dark;
    }

    p {
      padding: 1rem 0;
      border-bottom: solid 2px #000;
    }
  }
}

.map {
  padding-top: 1rem;
  width: 100%;
  height: 200px;
  border: 0;
}

.footer {
  background-color: var.$col-dark;
  text-align: center;
  padding: 1rem;
  color: var.$col-text;

  h2 {
    padding-bottom: 1rem;
  }

  .button {
    max-width: 300px;
    height: 3rem;
    background: #46567a;
    border-bottom: solid 4px #627295;
  }

  .button:active {
    transform: translateY(4px);
    border-bottom: none;
  }
}

#rejected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

@media screen and (max-width: 1000px) {
  .company {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 770px) {
  .company__search {
    .search_country {
      height: 2rem;
      font-size: 1rem;
    }
    .search_city {
      height: 2rem;
      font-size: 1rem;
    }
    .search_city::placeholder {
      font-size: 1rem;
      padding-left: 5px;
    }
  }
}

@media screen and (max-width: 670px) {
  .company {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .glass {
      img {
        width: 40%;
      }
    }
  }

  .company__search {
    flex-direction: column;

    .search_city {
      margin-top: 1rem;
      width: 100%;
    }
    .search_country {
      width: 50%;
    }
  }
}

@media screen and (max-width: 360px) {
  .company {
    .glass {
      font-size: 0.7rem;
    }
  }
}
