@use '../var';

.company__search {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 3rem 1.5rem;

  .search_country {
    background: none;
    height: 3rem;
    border: 2px solid #ffffff;
    width: 20%;
    color: #fff;
    font-size: 1.5rem;

    option {
      color: #000;
    }
  }

  .search_city {
    width: 50%;
    height: 3rem;
    border: 2px solid #ffffff;
    background: none;
    color: #fff;
    font-size: 1.7rem;
  }
}

.search_city::placeholder {
  color: #fff;
  font-size: 1.5rem;
  padding-left: 1rem;
}

.company {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  padding: 0 1.5rem 3rem;
  max-width: 1300px;
  margin: 0 auto;

  .card__img {
    position: relative;
    background-image: url(assets/img/prstar4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    border-radius: 1rem 1rem 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .glass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
    padding: 1rem;
    border-radius: 0.5rem;

    :nth-child(1),
    :nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    :nth-child(1)::after {
      content: "Добавить в мой круг";
      font-size: 0.8rem;
    }

    :nth-child(2)::after {
      content: "Удалить из моего круга";
      font-size: 0.8rem;
    }

    img {
      width: 5rem;
    }
  }

  label {
    padding-left: 1rem;
  }

  .progress__bar {
    position: relative;
    border-radius: 0;

    p {
      position: absolute;
      top: 0;
      right: 0.5rem;
      color: var.$col-text;
      font-size: 0.9rem;
    }

    span {
      border-radius: 0;
    }
  }

  .card__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;

    a {
      font-size: 2rem;
      text-align: center;
      font-weight: 700;
      color: var.$col-dark;
    }

    p {
      padding: 1rem 0;
      border-bottom: solid 2px #000;
    }
  }
}

.map {
  padding-top: 1rem;
  width: 100%;
  height: 200px;
  border: 0;
}

.footer {
  background-color: var.$col-dark;
  text-align: center;
  padding: 1rem;
  color: var.$col-text;

  h2 {
    padding-bottom: 1rem;
  }

  .button {
    max-width: 300px;
    height: 3rem;
    background: #46567a;
    border-bottom: solid 4px #627295;
  }

  .button:active {
    transform: translateY(4px);
    border-bottom: none;
  }
}

#rejected {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
