@use '../var';

.messagies {
  max-width: 1200px;
  padding: 3rem 1.5rem;
  margin: 0 auto;

  .chat__container {
    background: #1f2251;
    width: 100%;
    height: 100%;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: -1rem 0 3rem #000;
  }
}

.chat__users {
  height: 100%;
  border-radius: 1rem;

  header {
    height: 15%;
    width: 70%;
    border-radius: 0 0 5rem 0;
    background: var.$col-logo;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    font-weight: 900;
  }
}

.users {
  padding: 2rem 0 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var.$col-text;
}

.user__item {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 80%;
  font-size: 0.9rem;
  cursor: pointer;

  img {
    height: 80%;
    padding-right: 1rem;
  }
}

.user__item-active {
  background: var.$col-logo;
  color: #000;
  width: 150%;
  height: 5rem;
  position: relative;
  left: -3rem;
}

.chat__messagies {
  border-radius: 5rem 1rem 1rem 2rem;
  background: var.$col-text;
  height: 80vh;

  display: grid;
  grid-template-rows: 15% 70% 15%;
  z-index: 1;
}

.message__header {
  position: relative;
  display: grid;
  grid-template-columns: 60% 40%;
  background: #fff;
  padding: 2rem;
  border-radius: 5rem 1rem 0 0;
  text-align: end;
  width: 100%;

  h2 {
    font-size: 1.6rem;
  }

  img {
    position: absolute;
    right: 0;
    height: 80%;
    cursor: pointer;
  }
}

.massage__footer {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  border-radius: 0 0 1rem;

  input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    padding-left: 1rem;
  }

  img {
    height: 80%;
    padding-left: 1rem;
  }
}

.message__body {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .input__bubble {
    position: relative;
    align-self: flex-start;
    background: var.$col-icon;
    padding: 1.5rem;
    margin: 1rem 0;
    color: var.$col-text;
    border-radius: 0 2rem 2rem 2rem;
  }

  .input__bubble::after {
    content: "23.05.2021";
    position: absolute;
    bottom: -1rem;
    left: 0;
    font-size: 0.8rem;
    color: #000;
  }

  .output__bubble {
    position: relative;
    align-self: flex-end;
    background: var.$col-dark;
    padding: 1.5rem;
    margin: 1rem 0;
    color: var.$col-text;
    border-radius: 2rem 0 2rem 2rem;
  }

  .output__bubble::after {
    content: "23.05.2021";
    position: absolute;
    bottom: -1rem;
    right: 0;
    font-size: 0.8rem;
    color: #000;
  }
}

.message__settings-active {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  padding: 0.5rem;
  background: #fff;
  z-index: 1;
  border-top: var.$col-text solid 3px;

  display: flex;
  gap: 1rem;

  .message__settings_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    h3 {
      position: absolute;
      padding: 0.3rem;
      font-size: 1.1rem;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 0.3rem;
    }
    img {
      height: 4rem;
    }
  }

  .active {
    zoom: 1.2;
  }

  .message__settings_item:hover {
    zoom: 1.2;
  }
}

@media screen and (max-width: 1150px) {
  .chat__users header {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 780px) {
  .chat__users header {
    font-size: 2rem;
  }

  .user__item {
    p {
      display: none;
    }
  }
}

@media screen and (max-width: 680px) {
  .chat__users header {
    font-size: 1.4rem;
  }

  .message__header {
    h2 {
      display: none;
    }
  }

  .user__item-active {
    left: -1rem;
  }
}

@media screen and (max-width: 550px) {
  .messagies {
    padding: 3rem 1rem;
  }

  .chat__container {
    position: relative;
  }

  .chat__users {
    visibility: hidden;
  }

  .chat__messagies {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .message__header {
    border-radius: 1rem 1rem 0 0;

    h2 {
      display: block;
      text-align: left;
    }
  }

  .massage__footer {
    border-radius: 0 0 1rem 1rem;
  }
}
