@use '../var';

.tasks {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;

  .card {
    grid-template-columns: 25% 50% 25%;
    // height: 200px;
    width: 100%;
    margin-top: 2rem;

    .card__img {
      place-self: center;
      padding: 1rem;
    }

    .card__block {
      flex-direction: column;
      justify-content: space-around;

      h2 {
        padding-bottom: 1rem;
      }
    }

    .block_actions {
      display: grid;
      place-self: end;
      border-left: solid 2px var.$col_bg;
      // padding: 1rem 3rem 1rem 3rem;
      padding: 1rem 2rem;
      font-size: 0.9rem;

      :nth-child(1),
      :nth-child(2) {
        display: grid;
        cursor: pointer;

        img {
          height: 3rem;
        }
      }

    }
  }
}

@media screen and (max-width: 760px) {
  .tasks {
    .card {
      grid-template-columns: 80% 20%;
      grid-template-rows: 50% 50%;
      // height: 400px;

      .card__img {
        grid-area: 1 / 1 / 2 / 3;
        height: 100%;
      }

      .card__block {
        padding: 0 2rem;
        justify-content: space-evenly;
      }

      .block_actions {
        place-self: center;
        height: 100%;
        padding: 0 2rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .tasks {
    .card {
      grid-template-columns: 1fr;
      grid-template-rows: 30% 50% 20%;
      height: 520px;

      .card__img {
        grid-area: 1 / 1 / 1 / 1;
        height: 100%;
      }

      .card__block {
        padding-bottom: 1rem;

        :nth-child(1) {
          padding-bottom: 1rem;
        }
      }

      .block_actions {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding: 1rem;
        width: 100%;
        border-top: solid 2px var.$col_bg;
        border-left: 0;
      }
    }
  }
}
