@use 'scss/var';


@use 'scss/components/dropdown.scss';
@use 'scss/components/card.scss';
@use 'scss/components/components.scss';
@use 'scss/components/modal.scss';
@use 'scss/reset';
@use 'scss/sections/header';
@use 'scss/sections/about';
@use 'scss/sections/plus';
@use 'scss/sections/trio';
@use 'scss/sections/steps';
@use 'scss/sections/app';
@use 'scss/sections/business';
@use 'scss/sections/company';
@use 'scss/sections/tasks';
@use 'scss/sections/circle';
@use 'scss/sections/rejected';
@use 'scss/sections/transaction';
@use 'scss/sections/messagies';
@use 'scss/sections/help';
@use 'scss/sections/willPost';
@use 'scss/components/bage';

body {
  background: var.$col_bg;
  position: relative;
}

main {
  height: 100%;
}
