@use '../var';

.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.555);
  padding: 1.5rem;
  z-index: 9;
  display: none;
}

.modal {
  background: var.$col-text;
  border-radius: 1rem;
  height: auto;
  margin: auto;
  width: 500px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: var.$col_bg solid 1px;
}

.modal__close {
  cursor: pointer;
  height: 20px;
  display: grid;
  place-items: center;
  font-size: 0.7rem;

  img {
    height: 20px;
  }
}

.modal__form {
  padding: 1rem;
  display: grid;
}

.modal__input {
  height: 30px;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  border: none;
}

.modal__label {
  padding-bottom: 0.5rem;
}

.modal .button {
  margin-top: 4rem;
  height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .modal {
    width: 95%;
    font-size: 0.8rem;
  }
}
